body {
    background-image: url('https://concept.kg/media/redactor/ik_DE2wlxk.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}



body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
}


body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: #fff; 
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    /* background-color: #f9f9f9; */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 60px;
    text-align: center;
    margin-bottom: 10px;
}

